/* html5 Reset Stylesheet */
@import '_icon.css';
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
:focus {
  outline: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.container,
.container-fluid {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 0;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
}
@media all and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media all and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 1px;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
.col-xs-1 {
  float: left;
  width: 8.33333333%;
  box-sizing: border-box;
}
.col-xs-2 {
  float: left;
  width: 16.66666667%;
  box-sizing: border-box;
}
.col-xs-3 {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.col-xs-4 {
  float: left;
  width: 33.33333333%;
  box-sizing: border-box;
}
.col-xs-5 {
  float: left;
  width: 41.66666667%;
  box-sizing: border-box;
}
.col-xs-6 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.col-xs-7 {
  float: left;
  width: 58.33333333%;
  box-sizing: border-box;
}
.col-xs-8 {
  float: left;
  width: 66.66666667%;
  box-sizing: border-box;
}
.col-xs-9 {
  float: left;
  width: 75%;
  box-sizing: border-box;
}
.col-xs-10 {
  float: left;
  width: 83.33333333%;
  box-sizing: border-box;
}
.col-xs-11 {
  float: left;
  width: 91.66666667%;
  box-sizing: border-box;
}
.col-xs-12 {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
@media all and (max-width: 768px) {
  .col-xs-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-xs-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-xs-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-xs-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-xs-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-xs-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-xs-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-xs-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-xs-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-xs-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-xs-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .sm-hide {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-sm-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-sm-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-sm-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-sm-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-sm-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-sm-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-sm-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .sm-hide {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-md-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-md-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-md-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-md-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-md-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-md-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-md-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .md-hide {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333333%;
    box-sizing: border-box;
  }
  .col-lg-2 {
    float: left;
    width: 16.66666667%;
    box-sizing: border-box;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
  }
  .col-lg-4 {
    float: left;
    width: 33.33333333%;
    box-sizing: border-box;
  }
  .col-lg-5 {
    float: left;
    width: 41.66666667%;
    box-sizing: border-box;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .col-lg-7 {
    float: left;
    width: 58.33333333%;
    box-sizing: border-box;
  }
  .col-lg-8 {
    float: left;
    width: 66.66666667%;
    box-sizing: border-box;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
    box-sizing: border-box;
  }
  .col-lg-10 {
    float: left;
    width: 83.33333333%;
    box-sizing: border-box;
  }
  .col-lg-11 {
    float: left;
    width: 91.66666667%;
    box-sizing: border-box;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .lg-hide {
    display: none;
  }
}
html {
  font-size: 10px;
}
@media all and (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fa-down,
.fa-right {
  padding-right: .4rem;
}
.logo {
  font-size: 1.4rem;
  font-weight: 300;
}
.logo span {
  padding-right: 2px;
  font-size: 1.15em;
  font-weight: 600;
}
header nav.container-fuild {
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff;
  box-sizing: border-box;
  background: #70C570 url('../image/nav-bg.jpg') left bottom repeat-x;
}
header article.container-fuild {
  background: #F4F4F4;
}
header article.container-fuild [data-PageSlide] {
  background-color: #F4F4F4;
  padding-bottom: 3rem;
}
/* menu layout */
ul.nav-top {
  display: none;
}
@media all and (min-width: 768px) {
  ul.nav-top {
    display: block;
  }
  ul.nav-top::after {
    content: '';
    display: block;
    clear: both;
  }
  ul.nav-top > li {
    float: left;
  }
  ul.nav-top li {
    position: relative;
  }
  ul.nav-top li:hover {
    margin-top: 0;
    margin-left: 0;
  }
  ul.nav-top li ul {
    position: absolute;
    top: 4.2rem;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: #5d9e5a;
  }
  ul.nav-top li:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  ul.nav-top ul ul {
    top: 0;
    left: 100px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px #666;
  }
}
ul.nav-top > li {
  padding-top: 1.3rem;
}
ul.nav-top > li:not(:last-child) {
  margin-right: .58rem;
}
ul.nav-top > li:not(:last-child):hover > a {
  background: #de6b2c;
  box-shadow: 0 3px 3px #ba551d;
}
ul.nav-top a {
  display: block;
  padding: .7rem .66rem .58rem .66rem;
  line-height: .8rem;
  font-size: .8rem;
  border-radius: 3px;
}
ul.nav-top a.active {
  background: #5d9e5a;
  box-shadow: 0 3px 3px #4a7e47;
}
ul.nav-top ul {
  border-radius: 3px;
  padding: 5px 5px 0;
  background: #de6b2c !important;
}
ul.nav-top ul::before {
  content: '';
  display: block;
  position: absolute;
  top: -0.25rem;
  left: 1rem;
  width: .5rem;
  height: .5rem;
  background: #de6b2c;
  transform: rotate(-45deg);
}
ul.nav-top ul li {
  margin-bottom: 5px;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px #ba551d;
}
ul.nav-top ul li:hover {
  background: #5d9e5a;
  box-shadow: 0 0 1px #4a7e47;
}
